$colors: (
    col1: #3B3F42,
    col2: #F24C27,
    col3: #FBBA42,
    col4: #FEFEFE,
    col5: #56B9D0,      
    col6: #000, 
    col7: #333,
);

@mixin colorBg ($color) {
    background-color: map-get($colors, $color);
}
@mixin colorFont ($color) {
    color: map-get($colors, $color);
}

body {
    font-family: 'Dosis', sans-serif;
    font-weight: 600;
    font-size: 16px;
    @include colorBg(col2);    
}

.wraper-all {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.wraper-menu {
    @include colorBg(col2);
    @include colorFont(col4);   
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    .menu-btn ul {
        display: flex;
    }
    
    a.btn {
        display: block;
        padding: 10px 20px;
        margin-left: 15px;
        @include colorFont(col3); 
        @include colorBg(col1);        
        text-decoration: none;
        border-radius: 20px;  
        box-shadow: 0px 2px 2px 0px rgba(black, 0.4);
        transition: 0.7s all;
        
        &:hover {
            @include colorFont(col4); 
            @include colorBg(col6); 
        }

        &.not-active {
            opacity: 0.3;
            @include colorFont(col7); 
            @include colorBg(col6); 
        }

        &.not-active:hover {
            @include colorFont(col7); 
            @include colorBg(col6); 
        }
    }

    .menu-txt {
        margin-right: 15px;
        @include colorFont(col4); 
        display: flex;

        a, span {
            padding: 3px 6px;
        }

        a {
            text-decoration: none;
            border-radius: 7px;
            @include colorFont(col4);  
            transition: 0.4s all;
        }
        a.clicked {
            @include colorBg(col1);
        }

        a:hover {
            @include colorFont(col3); 
        }

        span {
            @include colorFont(col1); 
            font-weight: 700;
        }

        ul {
            margin: 0px 10px;
        }

        li {
            padding: 5px 0;

        }

    }
}

.wraper-flex {
    @include colorBg(col3);
    flex-grow: 2;
    display: flex;
    // justify-content: center;
    // align-items: center;
    // flex-wrap: wrap;

    .flex-box {
        @include colorBg(col4);
        border: 1px solid map-get($colors, col3);
        border-radius: 6px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;

        .flex-box-item {
            font-size: 30px;
            @include colorFont(col3);   
        }   
    }
}


.wraper-footer {
    @include colorBg(col1);
    @include colorFont(col4);   
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}






